* {
    margin: 0;
    padding: 0;
    }
body{
    background-image: linear-gradient(to bottom right, #eeeeee, #ededed);
    overflow-x: hidden;
    
}
html{
    scroll-behavior: smooth;
  }
#home{
    width:100px;
    height:10px;
  }
#about-scroll{
    width:100px;
    height:10px;
  }
#gallery-scroll{
    width:100px;
    height:10px;
  }
/*--------------------------------------------navbar----------------------------------------------*/
nav{
    display:grid;
    background-color:#ededed;
    grid-template-columns: 600px 400px 400px;
    justify-content: center;
    padding:20px 0px 20px 0px;
    position: fixed;
    top:0;
    height:30px;


}
.logo{
    font-family:Playfair Display;
    color:#222222;
    font-size: 25px;
    margin:0px;
    font-weight: bold;
    padding-left: 50px;;
    text-decoration: none;
    transition-duration:0.5s;
    align-content: center;
    width:150px;
    margin-left:50px;
}
.logo:hover{
    font-size:26px;
}
.work,.about{
    display:grid;
    text-decoration: none;
    justify-content: center;
    font-family:Montserrat;
    color:#222222;
    font-size: 12px;
    padding:5px 0px 5px 0px;
    align-content: center;
    letter-spacing:2px;
    font-weight: bold;
    transition-duration:0.5s;
    
}
.work:hover{
    color:#e25822;
    cursor:pointer;
    font-size:14px;    
}
.about:hover{
    color:#e25822;
    cursor:pointer;
    font-size:14px;
}
/*--------------------------------------------homepage-------------------------------------------------*/
.me{
   width:400px; 
   margin:50px 0px 0px 50px;
}
.home{
    display:grid;
    grid-template-columns: 200px 400px 500px;
    margin-top:100px;
}
.home-text{
    /* background-color: brown; */
    margin: 70px 0px 0px 0px
}
.home-small-text{
    font-family:Montserrat;
    line-height:50px;
    font-size: 25px;
}
.home-large-text{
    width:500px;
    font-family:Playfair Display Black;
    font-size: 100px;
    margin-top:0px;
}
/*-------------------------------------------social icons----------------------------------------*/
.social{
    margin-top:20px;
    transition-duration:0.5s;
}
.social-list{
    color:#111111;
    transition-duration:0.5s;
}
.wow{
    width:570px;
    color:#111111;
    text-decoration: none;
    font-family:Playfair Display Black;
    font-size: 100px;
    margin-top:20px;
    transition: 0.5s;
}
.wow:hover{
    color:#e25822;
    cursor:pointer;
}
.socialli{
    list-style: none;
    margin: 30px;
    /* background-color:#11002b; */
    display: inline-flexbox;
    font-size:20px;
    padding: 10px 20px 20px 0px;
    color:#111111;
    transition: 0.5s;
}
.socialli{
    display: grid;
    justify-content: center;
    transition-duration:0.5s;
}
.socialli li i{
    transition-duration:0.5s;

}
.socialli i:hover{
    color:#e25822;
    transition-duration:0.5s;
}
/*---------------------------------------------about me------------------------------------------*/
.aboutMe{
    display:grid;
    background-color:#222222;
    margin:100px 100px 100px 100px;
    justify-content: center;
    height:500px;
    grid-template-columns: 400px 400px;
    scroll-behavior: smooth;
}
.about-text{
    color:#ededed;
    display:grid;
    align-content: center;
    font-family:Montserrat;
    font-size: 40px;
    transition-duration:0.5s;
}
.about-text:hover{
    cursor:context-menu;
    font-size:42px;

}
.about-content{
    margin-top: 50px;
    cursor:context-menu;
    color:#ededed;
    display:grid;
    align-content: center;
    font-family:Montserrat;
    font-size: 15px;
    justify-content: center;
    line-height: 30px;
    text-align: justify;
}
.cv{
    margin-top: 20px;
    text-decoration: none;
    color:#ededed;
    font-family: Montserrat;
    font-size: 15px;
    transition-duration:0.5s;
    padding:0px;
    width:170px;
    height:30px;
    margin-left: 550px;
    line-height: 10px;
    
}
.cv:hover{
    color:#e25822;
    font-size: 16px;
}
/* .college:hover{
    color:#e25822;
    cursor:pointer;
}
.college{
    color:#ededed;
    text-decoration:none;
    background-color: red;
    width:0px;
} */
/*----------------------------------------gallery------------------------------------------*/
.gallery{
    display:grid;
    margin:50px 100px 100px 100px;
    justify-content: center;
}
.gallery-content{
    height:500px;
    width:1000px;
    display:grid;
    margin:50px 100px 100px 100px;
    align-content: center;
    justify-content: center;
}
.gallery-text{
    color:#111111;
    display:grid;
    /* background-color: #e25822; */
    justify-content: center;
    font-family:Playfair Display;
    font-size: 50px;
    transition-duration:0.5s;
}
.gallery-text:hover{
    font-size: 42px;
    cursor:context-menu;
}
.gallery-logo{
    display: grid;
    grid-template-columns: repeat(5,250px);
    grid-template-rows: repeat(2,250px);
    padding:0px 50px 0px 50px;
}
.logo-info{
    padding:50px;
    color:#ededed;
    display:grid;
    font-family:Montserrat;
    font-size: 18px;
}
.logos{
    justify-content: center;
    align-content: center;
    height: 200px;
    width: 200px;
    padding:50px;
}
/* .logo1-overlay{
    position: absolute;  
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .5s ease;
    background-color: #222222;
  }
  
.logo1-overlay:hover{
    opacity:1;
  } */
 .logo1-image{
     grid-row: 1/3;
     grid-column: 1/3;
     height: 450px;
     width: 450px;
    margin:25px 50px 0px 10px;
 }
  .about-logo{
      display: grid;
      justify-content: center;
      padding:20px 25px 0px 30px;
    color:#111111;
    text-align: justify;
    font-family:Montserrat;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold; 
  }
.low{
    justify-content: center;
    align-content: center;
    width: 300px;
}
.low-poly{
    display: grid;
    grid-template-columns: 320px 320px 320px 320px;
    grid-template-rows: 400px 350px;
    justify-content: center;
    align-content: center;
    margin:20px 20px 0px 20px;
}
.low1-image{
    width:400px;
}
.low5-image{
    grid-column: 3/4;
    grid-row: 1/3;
    width:450px;
    margin-left:100px;
}
.low2-image{
    width:390px;
    margin-left:50px;
}
.low4-image{
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top:37px;
}
.low3-image{
    grid-row: 2/3;
    grid-column: 2/3;
    width:468px;
    margin-top:37px;
}
.banner{
    display: grid;
    grid-template-columns:repeat(2,600px);
    grid-template-rows: 400px 320px;
    width: 500px;
    margin-left: 50px;
}
.banner2{
    margin-left:0px;
    width:620px;
}
.banner4{
    width:620px;
    margin-left: 0px;
}
.banner3{
    margin-top:12px;
}
.self{
    display: grid;
    grid-template-columns:repeat(3,400px);
    grid-template-rows: 200px 320px;
    width: 300px;
    margin-left: 50px; 
}
.self1{
    width:370px;
}
.self4{
    width:370px;
    margin-top: 20px;
}
.self2{
    width:370px;
}
.self3{
    width:370px;
}
.self5{
    width:370px;
    margin-top: 20px;
}
.self6{
    width:350px;
    margin-top: 20px;
}
.last{
    color:#111111;
    text-decoration: none;
    transition-duration:0.5s;
}
.last:hover{
    color:#e25822;
    font-size:25px;
}
/* --------------------------------------scrollbar---------------------------------------- */
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ededed; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e25822; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #852600; 
  }
  /*-----------------------------------------------loading screen-------------------------------------*/
  